*{
  font-family: 'Source Sans Pro', sans-serif;
}
.app{
  margin: 30px;
}
.MuiPaper-root{
  padding: 24px;
}
.MTableToolbar-root-5{
  padding: 0 !important;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}
.MuiFormControl-root{
  padding: 0 !important;
  margin-bottom: 16px;
}
.MTableToolbar-highlight-6{
  color: gray !important;
  background-color: #ffffff !important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
  color: gray !important;
}
.MTableToolbar-searchField-10{
  width: 100% !important;
}
.MuiTablePagination-toolbar{
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.MuiTableCell-footer{
  border-bottom: none !important;
}
.btnDelete{
  color: #ffffff;
  background-color: gray;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.MuiIconButton-root{
  padding-right: 0 !important;
}
.btnDelete:hover{
  cursor: pointer;
}
.MuiIconButton-root:hover{
  background-color: transparent !important;
}
.MuiIconButton-root:focus{
  background-color: transparent !important;
}

